# Mi diario personal (no subir a GitHub)
resumen.txt
devlog.txt

# Archivos de configuración personal de Rider
.idea/
*.user
*.sln.dotSettings.user
Machete.txt

# Archivos de base de datos local (para que no se suba tu DB real)
*.mdf
*.ldf
Barber.db
Barber.db-shm
Barber.db-wal
context.md
scrum_planificacion_caporale.pdf